{% load static %}
<!doctype html>
<html lang="es">
  {% load pwa %}
  <head>
    {% progressive_web_app_meta %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mis Perris</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="{% static 'librerias/fontawesome/all.min.css' %}">

    <!-- CSS propio -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/btnpwa.css' %}">
  </head>
  <body>

    <!-- Navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">
            <img src="{% static 'imagenes/logo.png' %}" alt="Logo Mis perris" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="/">Formulario</a>
                <a class="nav-link" href="rescatados">Administración</a>
                <a class="nav-link" href="admin">Django Admin</a>
            </div>
        </div>
    </nav>

<!-- Listado -->
<div class="admin galeria"> 
  <h3>Rescatados</h3>  
  <div class="card-columns">  
      {% for rescatado in rescatados %}
      <div class="card text-white w-300 border-0">
          <img src="{{ rescatado.fotografia.url }}" class="card-img opaco" alt="{{ rescatado.nombre }}">
          <div class="card-img-overlay">
            <h5 class="card-title">{{ rescatado.nombre }}</h5>
            <p class="card-text">{{ rescatado.estado }}</p>
          </div>
        </div>
      {% endfor %}
  </div>
</div>

<!-- Contacto -->
<div class="contacto col-12">
  <h3>Únetenos</h3>
  <p class="small">Rellena los campos para ingresarte como voluntario de nuestra labor</p>
  <form method="POST" class="post-form">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="id_email">Correo electrónico</label>
        <input type="email" class="form-control" id="id_email" name="email">
      </div>
      <div class="form-group col-md-6">
        <label for="id_rut">Rut</label>
        <input type="text" class="form-control" id="id_rut" name="rut">
      </div>
      <div class="form-group col-md-12">
        <label for="id_nombre_completo">Nombre Completo</label>
        <input type="text" class="form-control" id="id_nombre_completo" name="nombre_completo">
      </div>
      <div class="form-group col-md-6">
        <label for="if_fecha_nacimiento">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="id_fecha_nacimiento" name="fecha_nacimiento">
      </div>
      <div class="form-group col-md-6">
        <label for="id_telefono">Teléfono</label>
        <input type="number" class="form-control" id="id_telefono" name="telefono">
      </div>
      <div class="form-group col-md-6">
        <label for="id_ciudad">Ciudad</label>
        <input type="text" class="form-control" id="id_ciudad" name="ciudad">
      </div>
      <div class="form-group col-md-6">
        <label for="id_tipo_de_casa">Tipo de vivienda</label>
        <select class="form-control" id="id_tipo_de_casa" name="tipo_de_casa">
          <option value="casa-patio-l">Casa con patio grande</option>
          <option value="casa-patio-s">Casa con patio pequeño</option>
          <option value="casa">Casa sin patio</option>
          <option value="depto">Departamento</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary btn btn-success">Enviar tus datos</button>
    </div>
  </form>
</div>


      <!--Footer-->
    <nav class="nav bg-secondary text-white footer">
        Desarrollo web y mobile - Duoc UC - al.aravena 2020
    </nav>

     <!--Boton para PWA-->
    <div id="prompt" class="prompt hide bg-light border-top">
      <div class="font-weight-bold">Agregar Aplicación</div>
      <small>Esta aplicación web puede ser instalada</small>
      <div class="text-right">
        <button id="buttonCancel" type="button" class="font-weight-bold text-muted btn-sm btn btn-link">CANCELAR</button>
        <button id="buttonAdd" type="button" class="font-weight-bold text-primary btn-sm btn btn-link">ACEPTAR</button>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="{% static 'js/btnpwa.js' %}" ></script>

  </body>
</html>