{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mis Perris</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="{% static 'librerias/fontawesome/all.min.css' %}">

    <!-- CSS propio -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  </head>
  <body>

    <!-- Navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/">
          <img src="{% static 'imagenes/logo.png' %}" alt="Logo Mis perris" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" href="/">Formulario</a>
              <a class="nav-link active" href="{% url 'rescatado_list' %}">Administración</a>
              <a class="nav-link" href="/admin">Django Admin</a>
          </div>
      </div>
  </nav>

    <!-- Administración -->
    <div class="admin galeria">
        <h2>Nuevo Rescatado</h2>
        <form method="POST" enctype="multipart/form-data" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <a class="btn btn-info" href="{% url 'rescatado_list' %}"><i class="fas fa-th-list"></i> Listar</a>
            <button type="submit" class="btn btn-success"><i class="fas fa-plus-circle"></i> Agregar Rescatado</button>
        </form>
    </div>

    <!--Footer-->
    <nav class="nav bg-secondary text-white footer">
        Desarrollo web y mobile - Duoc UC - al.aravena 2020
    </nav>
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
      </body>
    </html>
