{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mis Perris</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="{% static 'librerias/fontawesome/all.min.css' %}">

    <!-- CSS propio -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  </head>
  <body>

    <!-- Navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/">
          <img src="{% static 'imagenes/logo.png' %}" alt="Logo Mis perris" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" href="/">Formulario</a>
              <a class="nav-link active" href="{% url 'rescatado_list' %}">Administración</a>
              <a class="nav-link" href="/admin">Django Admin</a>
          </div>
      </div>
  </nav>

<!-- Listado -->
<div class="admin galeria"> 
    <h3>Administración Rescatados <a class="btn btn-success" href="{% url 'rescatado_add' %}"><i class="fas fa-plus-circle"></i> Agregar nuevo</a></h3>  
    <div class="card-columns">  
        {% for rescatado in rescatados %}
        <div class="card text-white w-300 border-0">
            <img src="{{ rescatado.fotografia.url }}" class="card-img opaco" alt="{{ rescatado.nombre }}">
            <div class="card-img-overlay">
              <h5 class="card-title"><a href="{% url 'rescatado_detail' pk=rescatado.pk %}" class="btn btn-secondary btn-block"><i class="fas fa-eye"></i> {{ rescatado.nombre }}</a></h5>
              <p class="card-text text-right">
                <a class="btn btn-warning" href="{% url 'rescatado_edit' pk=rescatado.pk %}"><i class="fas fa-edit"></i> Editar</a>
                <a class="btn btn-danger" href="{% url 'rescatado_delete' pk=rescatado.pk %}"><i class="fas fa-trash-alt"></i> Eliminar</a>
              </p>
            </div>
          </div>
        {% endfor %}
    </div>
</div>

    <!--Footer-->
    <nav class="nav bg-secondary text-white footer">
        Desarrollo web y mobile - Duoc UC - al.aravena 2020
    </nav>
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
      </body>
    </html>
